{% extends "tasks/base.html" %}
{% block content %}
<div class="login-form-container">
    {% if form.errors %}
        <ul class="messages">
            {% for message in form.errors %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
   {% endif %}
    <form class="login-form" action="" method="POST" action="{% url 'accounts:login' %}">
        <div class="form-group mb-4">
            <h2 class="form-title">Log in</h2>
        </div>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mb-4">
                <label class="col-form-label">{{ field.label }}</label>
                 {{ field }}
                 {{ field.errors }}
            </div>
        {% endfor %}
        {% if form.errors and not form.non_field_errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
        {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}


        <div class="form-action">
            <button type="submit" class="btn submit" id="login" name="login">Login</button>
        </div>
        <p class="alt-message">Don't have an account?<a href="{% url 'accounts:register' %}"> Register</a></p>
    </form>
</div>
{% endblock %}
