{% extends "tasks/base.html" %}

{% block content %}
    <form class="container" method="post" action="{% url 'tasks:create_task' %}">
    {% csrf_token %}
        <h3>Create Task Template</h3>
        <div class="mb-3">
            <label for="Title" class="form-label">Tile</label>
            <input type="text" class="form-control" id="Title" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Task Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="Due_date" class="form-label">Due Date</label>
            <input type="date" class="form-control" id="Due_date">
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Completed
        </label>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="submit">Create</button>
            <button class="btn btn-primary" type="button">Clear</button>
        </div>
    </form>
{% endblock %}